.center_m {
    display: flex;
    justify-content: center;
}

.center_m li{
    text-align: center;
}
  
.pagination_, li{
    display: inline-block;
}

.pagination_, li button {
    color: rgb(255, 255, 255);
    /* float: left; */
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 0 4px;
}

button {
    background-color: #111;
}

.pagination_, li button.hovered {
    background-color: #da0000;
    color: rgb(0, 0, 0);
    border: 1px solid #da0000;
}
  
.pagination_, li button:hover:not(.hovered) {background-color: #da0000; color: rgb(0, 0, 0);}