.container_m {
    margin: auto auto;
    position: relative;
    width: 350px;
}

.movie_card {
    background-color: #111;
    padding: 30px;
    position: relative;
   /*  box-shadow: 0 0 5px rgba(75, 75, 75, .07); */
    /* z-index: 1; */
}

.body_m {
    display: inline-block;
}

.m_title {
    color: rgb(255, 255, 255);
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.m_img {
    width: 250px;
    height: 250px;
    border: 5px solid #fff;
}