.container_detail {
    min-height: calc(100vh - 70px);
    padding: 55px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.row_d{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.movie_p_d {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img_detail{
    border: 5px solid #fff;
    max-width: 180px;
}

.info_d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px;
}

.subtitle {
    color     : rgb(249, 249, 249);
    font-size : 35px;
    min-width : 30px;
    margin-top: 16px;
}

.year_d {
    color: rgb(249, 249, 249);
    font-size: 20px;
    min-width: 43px;
    margin-top: 25px;
}

.genre_d {
    color: rgb(249, 249, 249);
    font-size: 20px;
    min-width: 43px;
    margin-top: 25px;
}

.rating {
    line-height: 1.4;
    font-size: 15px;
    margin-top: 36px;
    color: rgb(255, 253, 253);
    max-width: 755px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background_content {
    position       : absolute;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index        : -1;
}

.controls__detail {
    display       : flex;
    align-items   : center;
    padding       : 10px 5px 10px 6px;
    flex-direction: row;
}

.triler__button {
    border-radius : 4px;
    font-size     : 15px;
    padding       : 0px 56px;
    margin-top    : 16px;
    display       : flex;
    align-items   : center;
    height        : 50px;
    background    : rgb(249, 249, 249);
    border        : none;
    letter-spacing: 1.8px;
    cursor        : pointer;
}

.triler__button:hover {
    background: rgb(198, 198, 198);
}

.add__button {
    margin-right    : 16px;
    width           : 44px;
    height          : 44px;
    align-items     : center;
    justify-content : center;
    border-radius   : 50%;
    border          : 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor          : pointer;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.add__button:hover {
    background: rgb(198, 198, 198);
}

.icon__add {
    font-size: 30px;
    color    : white;
}

.description {
    line-height  : 1.4;
    font-size    : 20px;
    margin-top   : 16px;
    margin-bottom: 16px;
    color        : rgb(255, 253, 253);
    max-width    : 760px;
}

.icon {
    color: goldenrod;
}

.loading_d {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}