.container_detail {
    min-height: calc(100vh - 70px);
    padding: 0 calc(3.5vw - 5px);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.background_content {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.img_detail {
    width: 100%;
    height: 110%;
    /* min-height: 100%; */
    /* position: fixed; */
}

.controls__detail {
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 6px;
    flex-direction: row;
}

.triler__button {
    border-radius: 4px;
    font-size: 15px;
    padding: 0px 24px;
    margin-right: 22px;
    display: flex;
    align-items: center;
    height: 50px;
    background: rgb(249, 249, 249);
    border: none;
    letter-spacing: 1.8px;
    cursor: pointer;
}

.triler__button:hover {
    background: rgb(198, 198, 198);
}

.add__button {
    margin-right: 16px;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.add__button:hover {
    background: rgb(198, 198, 198);
}

.icon__add {
    font-size: 30px;
    color: white;

}

.subtitle {
    color: rgb(249, 249, 249);
    font-size: 35px;
    min-width: 30px;
    margin-top: 16px;
}

.description {
    line-height: 1.4;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgb(255, 253, 253);
    max-width: 760px;
}

.rating {
    line-height: 1.4;
    font-size: 20px;
    margin-top: 16px;
    color: rgb(255, 253, 253);
    max-width: 760px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon {
    color: goldenrod;
}
