.container_movie_card {
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    /* max-height      : 300px; */
    /* width           : 100%; */
    max-height         : 100%;
    max-width          : 100%;
    /* background-color: #fff; */
    border-radius      : 5px;
    /* box-shadow         : 0px 0px 10px rgba(0, 0, 0, 0.2); */
    /* margin-bottom   : 20px; */
    margin             : 0;
}

.movie_card {
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    /* max-height      : 300px; */
    width              : 100%;
    /* background-color: #fff; */
    border-radius      : 5px;
 /*    box-shadow         : 0px 0px 10px rgba(0, 0, 0, 0.2); */
    margin-bottom      : 20px;
}

.body_img {
    /* background-color: #fff; */
    border-radius: 5px;
    /* box-shadow   : 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.body_m {
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    width              : 100%;
    height             : 100%;
    /* background-color: #fff; */
    border-radius      : 5px;
    /* box-shadow         : 0px 0px 10px rgba(0, 0, 0, 0.2); */
    margin-bottom      : 20px;
}

.m_title {
    /* font-size: 20px; */
    font-weight  : bold;
    color        : #fff;
    margin-bottom: 10px;
    max-width    : 100%;
    padding-top  : 20px;
    /* centered */
    text-align   : center;
    margin-left  : auto;
    margin-right : auto;
}